
.container{
background-color: #32CD32;
}
 .dit{
 font-family: 'Times New Roman', Times, serif; 
 font-size: 250%;
 color: #F5F5DC; }
 .caption{
 	color: #0000FF;
 	text-align: center;
 	background: #FF0000;
 }